@charset "UTF-8";
.medical .wrapper .card {
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.medical {
  font-family: sans-serif;
}

.medical .container {
  max-width: 1050px;
  margin: auto;
}

.medical .top-content {
  margin-left: 300px;
  text-align: center;
  margin-bottom: 80px;
}

.medical .top-content h2 {
  width: 500px;
  font-size: 40px;
  margin: auto;
  padding: 15px;
  color: #252b42;
}

.medical .top-content p {
  width: 450px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 80px;
  color: #737373;
  max-width: 500px;
}

.medical .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.medical .wrapper .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.medical .wrapper .card .card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  background-color: #8ec2f2;
  padding: 40px 30px;
  color: #ffffff;
}

.medical .wrapper .card .card-head .icon {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-bottom: 10px;
}

.medical .wrapper .card .list {
  padding: 10px;
  list-style: none;
}

.medical .wrapper .card .list li {
  color: #737373;
  font-size: 14px;
  margin-bottom: 15px;
}

.medical .wrapper .card .list li::before {
  content: "- ";
}

.medical .wrapper .card .more {
  display: block;
  padding: 0 30px 30px;
  color: #23a6f0;
}

.reviews .wrapper .card {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  padding: 25px;
}

.reviews {
  padding: 80px 0;
  font-family: sans-serif;
}

.reviews .container {
  max-width: 1050px;
  margin: auto;
}

.reviews .top-content {
  text-align: center;
  margin-bottom: 50px;
}

.reviews .top-content h2 {
  font-size: 40px;
  color: #252b42;
  margin: 0;
}

@media (max-width: 510px) {
  .reviews .top-content h2 {
    font-size: 28px;
    max-width: 250px;
    margin: 0 auto;
  }
}

.reviews .top-content p {
  color: #737373;
  max-width: 450px;
  margin: 15px auto;
}

@media (max-width: 510px) {
  .reviews .top-content p {
    max-width: 300px;
  }
}

.reviews .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

@media (max-width: 510px) {
  .reviews .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
}

.reviews .wrapper .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reviews .wrapper .card .stars {
  color: #f3cd03;
  font-size: 20px;
  margin-bottom: 15px;
}

.reviews .wrapper .card .desc {
  color: #737373;
  font-size: 14px;
  margin-bottom: 20px;
}

.reviews .wrapper .card .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.reviews .wrapper .card .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews .wrapper .card .user .user-info h5 {
  color: #23a6f0;
  margin: 0;
}

.reviews .wrapper .card .user .user-info span {
  font-size: 12px;
  color: #252b42;
}

.faq .wrapper .faq-card {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
}

.faq {
  padding: 80px 0;
  font-family: sans-serif;
  background-color: #fafafa;
}

.faq .container {
  max-width: 1050px;
  margin: 0 auto;
}

.faq .top-content {
  text-align: center;
  margin-bottom: 80px;
}

.faq .top-content h2 {
  font-size: 40px;
  color: #252b42;
  margin: 0;
  padding: 0;
}

.faq .top-content p {
  color: #737373;
  max-width: 500px;
  margin: 15px auto 0;
}

.faq .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.faq .wrapper .faq-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.faq .wrapper .faq-card .icon {
  color: #23a6f0;
  font-size: 18px;
  font-weight: bold;
}

.faq .wrapper .faq-card .text h5 {
  color: #252b42;
  margin: 0 0 10px 0;
  font-size: 16px;
}

.faq .wrapper .faq-card .text p {
  color: #737373;
  margin: 0;
  font-size: 14px;
}

@media (max-width: 510px) {
  .faq .top-content h2 {
    margin: 0 auto;
    font-size: 25px;
  }
}

@media (max-width: 510px) {
  .faq .top-content p {
    max-width: 250px;
    margin: 15px auto 0;
    font-size: 14px;
  }
}

@media (max-width: 510px) {
  .faq .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 0 30px;
  }
  .faq .wrapper .faq-card {
    width: 100%;
    padding: 20px;
  }
}

.medical .top-content {
  margin: 0;
  margin-left: 0;
  text-align: center;
  margin-bottom: 30px;
}

.medical .top-content h2 {
  font-size: 35px;
  color: #252b42;
  margin: 0;
}

@media (max-width: 510px) {
  .medical .top-content h2 {
    max-width: 250px;
    margin: 0 auto;
    font-size: 24px;
  }
}

.medical .top-content p {
  margin: 0;
  color: #737373;
  max-width: 500px;
}

@media (max-width: 510px) {
  .medical .top-content p {
    max-width: 300px;
    margin: 0 auto;
    font-size: 14px;
  }
}

.medical .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

@media (max-width: 510px) {
  .medical .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  .medical .wrapper .card {
    width: 100%;
  }
}

@media (max-width: 510px) {
  .cards-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing-section {
    margin-top: 1px;
  }
}

body {
  background-color: #ffffff;
  color: #252B42;
}

.pricing-section {
  padding: 100px 0;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  text-align: center;
  margin-bottom: 80px;
}

.header h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.header p {
  color: #737373;
  line-height: 1.5;
}

.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card1 {
  background: #ffffff;
  border: 1px solid #23A6F0;
  border-radius: 10px;
  padding: 50px 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card.dark {
  background-color: #252B42;
  color: #ffffff;
  padding: 80px 40px;
  z-index: 2;
  border: none;
  border-radius: 10px;
}

.card1 h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.card1 .desc {
  font-size: 14px;
  color: #737373;
  margin-bottom: 30px;
  font-weight: bold;
}

.card1 .dark .desc {
  color: #ffffff;
}

.price {
  font-size: 40px;
  font-weight: bold;
  color: #23A6F0;
  margin-bottom: 30px;
}

.price span {
  font-size: 14px;
  display: block;
}

.features {
  list-style: none;
  text-align: left;
  margin-bottom: 35px;
}

.features li {
  font-size: 14px;
  margin-bottom: 15px;
  padding-left: 35px;
  position: relative;
  color: #737373;
  font-weight: bold;
}

.card1 .dark .features li {
  color: #ffffff;
}

.features li::before {
  content: "✔";
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background: #bdbdbd;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
}

.features li.active::before {
  background: #2DC071;
}

.features li.active::before .btn {
  width: 100%;
  padding: 15px;
  background-color: #23A6F0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.features li.active::before .btn:hover {
  background-color: #1a8cd3;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #252B42;
  padding: 20px 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.btn-top {
  background-color: #23A6F0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.hero {
  background-image: url(./img/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

.hero-left {
  color: white;
  max-width: 500px;
}

.hero-left h1 {
  font-size: 58px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.hero-left p {
  font-size: 20px;
  margin-bottom: 35px;
}

.hero-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.btn-blue {
  background-color: #23A6F0;
  color: white;
  border: none;
  padding: 15px 35px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 15px 35px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.hero-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.booking-form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.booking-form h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  color: #252B42;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  color: #252B42;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 15px;
  border: 1px solid #E6E6E6;
  background-color: #F9F9F9;
  border-radius: 5px;
  outline: none;
}

.btn-submit {
  width: 100%;
  padding: 15px;
  background-color: #23A6F0;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.footer-asosi {
  font-family: sans-serif;
}

.footer-asosi .konteyner {
  max-width: 1050px;
  margin-right: auto;
  margin-left: auto;
}

.footer-asosi .qismi-bolo {
  background-color: #252b42;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-asosi .qismi-bolo .matn-v-obuna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.footer-asosi .qismi-bolo .matn-v-obuna .matn {
  max-width: 500px;
}

.footer-asosi .qismi-bolo .matn-v-obuna .matn h2 {
  color: #ffffff;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-asosi .qismi-bolo .matn-v-obuna .matn p {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
}

.footer-asosi .qismi-bolo .matn-v-obuna .forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  width: 450px;
}

.footer-asosi .qismi-bolo .matn-v-obuna .forma input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.footer-asosi .qismi-bolo .matn-v-obuna .forma button {
  background-color: #23a6f0;
  color: #ffffff;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.footer-asosi .qismi-poyon {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #ffffff;
}

.footer-asosi .qismi-poyon .sutunkho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}

.footer-asosi .qismi-poyon .sutunkho .sutun {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-asosi .qismi-poyon .sutunkho .sutun h3 {
  color: #252b42;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-asosi .qismi-poyon .sutunkho .sutun p {
  color: #737373;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-asosi .qismi-poyon .sutunkho .sutun ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-asosi .qismi-poyon .sutunkho .sutun ul li {
  color: #737373;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-asosi .qismi-poyon .sutunkho .sutun .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer-asosi .qismi-poyon .sutunkho .sutun .icons span {
  color: #23a6f0;
  font-weight: bold;
  cursor: pointer;
}

.footer-asosi .hukuki-mualif {
  background-color: #fafafa;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-asosi .hukuki-mualif p {
  color: #737373;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */